<div class="main-menu">
  <!-- /.header -->
  <%= render partial: "shared/common/header" %>
  <!-- /.header -->

  <div class="content">
    <!-- /.sidebar -->
    <%= render partial: "shared/common/sidebar" %>
    <!-- /.sidebar -->
  </div>
</div>

<!-- /.navbar -->
<%= render partial: "shared/common/navbar" %>
<!-- /.navbar -->
<!-- /#notification_popup -->
<%= render partial: "shared/notification_popup/notification_popup" %>
<!-- /#notification_popup -->
<!-- /#message-message_popup -->
<%= render partial: "shared/message_popup/message_popup" %>
<!-- /#message-message_popup -->

<div id="wrapper">
  <div class="main-content">
    <div class="row small-spacing">
      <!-- /.box_content_1_bloc -->
      <!-- /.bloc_1 -->
      <%= render partial: "shared/box_content/box_content_1_1_bloc_bloc_1" %>
      <!-- /.bloc_1 -->
      <!-- /.box_content_1_bloc -->

      <!-- /.box_content_3_blocs -->
      <!-- /.bloc_1 -->
      <%= render partial: "shared/box_content/box_content_3_3_blocs_bloc_1" %>
      <!-- /.bloc_1 -->
      <!-- /.bloc_2 -->
      <%= render partial: "shared/box_content/box_content_3_3_blocs_bloc_2" %>
      <!-- /.bloc_2 -->
      <!-- /.bloc_3 -->
      <%= render partial: "shared/box_content/box_content_3_3_blocs_bloc_3" %>
      <!-- /.bloc_3 -->
      <!-- /.box_content 3 bloc -->

      <!-- /.box_content_2_blocs -->
      <!-- /.bloc_1 -->
      <%= render partial: "shared/box_content/box_content_2_2_blocs_bloc_1" %>
      <!-- /.bloc_1 -->
      <!-- /.bloc_2 -->
      <%= render partial: "shared/box_content/box_content_2_2_blocs_bloc_2" %>
      <!-- /.bloc_2 -->
      <!-- /.box_content_2_blocs -->
    </div>

    <div class="row small-spacing">
      <!-- /.box_content_4_blocs_small_spacing -->
      <!-- /.bloc_1 -->
      <%= render partial: "shared/box_content/box_content_4_4_blocs_bloc_1" %>
      <!-- /.bloc_1 -->
      <!-- /.bloc_2 -->
      <%= render partial: "shared/box_content/box_content_4_4_blocs_bloc_2" %>
      <!-- /.bloc_2 -->
      <!-- /.bloc_3 -->
      <%= render partial: "shared/box_content/box_content_4_4_blocs_bloc_3" %>
      <!-- /.bloc_3 -->
      <!-- /.bloc_4 -->
      <%= render partial: "shared/box_content/box_content_4_4_blocs_bloc_4" %>
      <!-- /.bloc_4 -->
      <!-- /.box_content_4_blocs_small_spacing -->
    </div>
    <!-- .row -->

    <div class="row small-spacing">
      <!-- /.box_content_2_blocs_small_spacing -->
      <!-- /.bloc_1 -->
      <%#= render partial: "shared/box_content/box_content_5_2_blocs_bloc_1" %>
      <!-- /.bloc_1 -->
      <!-- /.bloc_2 -->
      <%#= render partial: "shared/box_content/box_content_5_2_blocs_bloc_2" %>
      <!-- /.bloc_2 -->
      <!-- /.box_content_2_blocs_small_spacing -->
    </div>

    <!-- /.footer -->
    <%= render partial: "shared/common/footer" %>
    <!-- /.footer -->
  </div>
</div>

